.form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.form input,
textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

.add-btn {
  background-color: rgb(63, 128, 248);
  text-align: center;
  color: white;
}
